<span style="float:right;"><a href="@Url.Action("GioHang","GioHang")" style="float:right;">
    Giỏ hàng
        <img src="~/anhbackground/Cart.png" style="width:5%" />(@ViewBag.TongSoLuong)
</a></span>
